{% extends 'base.html.twig' %}
{% block title %}History{% endblock %}
{% block body %}
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "#Your_key#", // Use your own API key
            v: "beta",
            // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
            // Add other bootstrap parameters as needed, using camel case.
        });
    </script>
    <h1 class="title">CybEvasion</h1>
    {% include 'nav.html.twig' %}
    <section class="main2">
        <div id="mapHistory">

        </div>
        <div class="info-history">
            <h2 class="title-info">Informations</h2>
            <p class="city-history"></p>
            <p class="street-history"></p>
            <p class="postal-code-history"></p>
            <p class="X-history"></p>
            <p class="Y-history"></p>
        </div>
    </section>
{% endblock %}
